/*
Plugin Name: Dashboard Connector Worpress
GitHub URI: xenomedia/dashboard-connector-wp
Author: Xeno Media
Author URI: https://xenomedia.com/
Description: Plugin to automate updates for Xeno Media.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Use it to make something cool, have fun, and share what you've learned with others.
*/
